<p>{{ title }}</p>
{{#if message}}
{{message}}
{{/if}}
<form action="/register" method="post">
    name : <input type="text" name="name"></input><br>
    school : <input type="school" name="school"></input><br>
    phone number : <input type="phone" id="phone" name="phone"></input><br>
    <button type="button" id="same"></button>
    whatsapp number : <input type="phone" id="wphone" name="wphone"></input><br>
    email :<input type="email" name="email"></input><br>
    address : <input type="text" name="address"></input>
    <input type="submit"></input>
</form>